---
export const prerender = true;
const redirectUrl = '/mutants/';
---
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
    <meta name="robots" content="noindex" />
    <title>Перенаправление…</title>
  </head>
  <body>
    <p>Перенаправление на <a href={redirectUrl}>/mutants/</a>…</p>
  </body>
</html>
