@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* опциональная кастомизация цветов для тёмной темы */
.prose.prose-invert {
  --tw-prose-body: #cbd5e1;
  --tw-prose-headings: #e2e8f0;
  --tw-prose-links: #e879f9;
  --tw-prose-bold: #f1f5f9;
  --tw-prose-counters: #94a3b8;
  --tw-prose-bullets: #475569;
  --tw-prose-hr: #334155;
  --tw-prose-quotes: #e2e8f0;
  --tw-prose-quote-borders: #475569;
  --tw-prose-captions: #94a3b8;
  --tw-prose-code: #e2e8f0;
  --tw-prose-pre-code: #e2e8f0;
  --tw-prose-pre-bg: #0b1220;
  --tw-prose-th-borders: #334155;
  --tw-prose-td-borders: #1f2937;
}
