---
import BaseLayout from '../../layouts/BaseLayout.astro';
import CardGrid from '../../components/CardGrid.astro';
---
<BaseLayout title="Симуляторы">
  <h1>Симуляторы</h1>
  <p>Выберите симулятор, чтобы протестировать его работу. Каждый симулятор
  рассчитывает награды и шансы в реальном времени.</p>
  <div class="sim-grid-wrapper">
    <CardGrid
      cards={[
        {
          title: 'Симулятор скрещивания',
          desc: 'Твой гид по скрещиванию',
          href: 'simulators/breeding',
          icon: '/sims/larva.webp'
        },
        {
          title: 'Симулятор реактора',
          desc: 'Все генераторы и шансы выпадения мутантов',
          href: 'simulators/reactor',
          icon: '/sims/reactor.webp'
        },
        {
          title: 'Симулятор рулеток',
          desc: 'Рулетки с реальными шансами',
          href: 'simulators/roulette',
          icon: '/sims/roulette.webp'
        },
        {
          title: 'Симулятор крафта',
          desc: 'Металлзавод, Трансформатрон, Лаборатория & Черная Дыра',
          href: 'simulators/craft',
          icon: '/sims/black_hole.webp'
        },
      ]}
    />
  </div>

  <style>
    .sim-grid-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
  </style>
</BaseLayout>
