---
import BaseLayout from '../layouts/BaseLayout.astro';
import MutantList from '../components/MutantList.astro';
import bronzeMutants from '../data/bronze_mutants.json';
const mutants = bronzeMutants;
---
<BaseLayout title="Бронзовые мутанты | Mutants Fan Site">
  <h1 class="text-3xl font-bold mb-4">Бронзовые мутанты</h1>
  <MutantList {mutants} />
</BaseLayout>


