---
import EvoCalculator from "../components/EvoCalculator.svelte";
---

<html lang="ru">
  <head>
    <title>Эво калькулятор | Mutants Fan Site</title>
  </head>
  <body class="bg-gray-900 text-white min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-6">Эво калькулятор</h1>
    <EvoCalculator client:load />
  </body>
</html>

