---
import BaseLayout from '../layouts/BaseLayout.astro';
import EvoTechCalculator from '../components/EvoTechCalculator.svelte';
---
<BaseLayout title="Калькулятор уровня эво| Mutants Fan Site">
  <h1 class="text-3xl font-bold mb-4">Калькулятор эво</h1>
  <EvoTechCalculator client:load />
</BaseLayout>

