---
// src/pages/mutants.astro
import MutantList from '../components/MutantList.astro';
import normalMutants from '../data/normal_mutants.json';  // Путь к файлу с мутантами

const mutants = normalMutants; // Все мутанты без фильтрации
---

<html>
  <head>
  <meta charset="UTF-8" />
  <title>Тестовая страница мутантов</title>
</head>
  <body>
    <h1>Тестовая страница мутантов</h1>
    <MutantList {mutants} />
  </body>
</html>
